<!DOCTYPE html>
<html lang="ko">
<head>
    <title>로그인</title>
    <script>
        
    </script>
</head>
<body>
    <div class="login_main">
        <h1>Joonsoft</h1>
        <input type="text" value="" placeholder="아이디">
        <input type="text" value="" placeholder="비밀번호">
        <input type="button" value="">
    </div>
</body>
</html>